# Porta onde o servidor será executado
# Mudar a variável ${SERVER_PORT} para a porta ao qual deseja que o servidor rode.
# Após remover a variável e adicionar a porta desejada, remove o .example do nome do arquivo.
# Fazendo-o ficar apenas como .env
PORT=${SERVER_PORT}